flask
requests
google-generativeai
gunicorn

#numpy
#pandas
#diffusers==0.22.1
#transformers
#accelerate
#hf_xet
#torch
#scipy 
#ftfy 
#torchvision 
#torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
#pillow

#SpeechRecognition
#pyaudio
#pydub
#ffmpeg-python
#winget install ffmpeg

joblib
sentence_transformers