<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Gemini Response</h2>
        <div>
        <textarea id="w3review" name="w3review" rows="4" cols="50">{{r}}</textarea>
        </div>
        <form action="/gemini" method="post">
            <input type="submit" value="Chatbot">
        </form>
    </div>
</body>
</html>